* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 1.7rem;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
}

.home .header {
  height: 18rem;
  background: url('https://img.freepik.com/free-vector/young-woman-home-library-writing-with-wine_107791-5840.jpg?size=626&ext=jpg&uid=R107272678');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.home .intro .text {
  width: 50%;
  float: left;
}

.home .intro .image {
  width: 50%;
  float: right;
  display: flex;
  height: 30rem;
  background: url('./images/Thesis-rafiki\ \(1\).png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.home .intro .text .welcome {
  font-weight: 800;
  margin-left: 10rem;
  padding-left: 2rem;
  font-size: 5rem;
  color: rgb(93, 223, 156);
}

.home .intro .text .welcome-II {
  font-weight: 800;
  margin-left: 10rem;
  padding-left: 2rem;
  font-size: 5rem;
  color: rgb(91, 91, 91);
}

.home .intro-text{
  float: left;
  margin-left: 10rem;
  padding-left: 2rem;
  font-size: 2.5rem;
  width: 55%;
  font-weight: 600;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 2rem;
  color: #fff;
}

.home .heading-links{
  float: left;
  padding-left: 5rem;
  margin-left: 20rem;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.home .heading-links h3{
  color: #fff;
  font-weight: 800;
  font-size: 4rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
